.subjectHeader{
	color: royalblue;
	font-family: sans-serif;
}

blockquote {
	background-color: darkblue;
	color: silver;
}

#scoreBoard {
	border-style: groove;
	border-width: 5;
	border-color: black;
}

#scoreBoard *{
	border-style: groove;
	border-width: 5;
	border-color: black;
	text-align: center;
}

#scoreBoard th, caption{
	
	color: navy;
	font-weight: bold;
}

ul {
	list-style: square;
}

ul > li > img {
	display: none;
}

#teamRoster > li> ul {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	color: black;
	font-weight: bold;
}


.hyperLink:hover{
	background-color: blue;
	color: darkorange;
	text-decoration-line: none;
}

#checkbox-grid{
	list-style: none;
}